{% extends 'main.html' %}


{% block container %}

  <div>
    <form id="searchForm" method="POST" action="{{ url_for('searchPage') }}">
      <div class="inner-form">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="input-field second-wrap">
            {{ form.search(size=100) }}
        </div>

        <div class="input-field third-wrap">
          <button class="btn btn-search" type="button" onclick="sendSearch()">
            <img src="/static/search.svg" />
          </button>
          <button class="btn btn-clear" type="button" onclick="clearSearch()">
            <img src="/static/erase.svg" />
          </button>
          <input id="searchFormBtn" type="submit" style="display: none;" />
        </div>
      </div>
      <div class="help">
        <a id="issue" href="javascript:void(0)"><small> What's an issue? </small></a>
        <a id="severity" href="javascript:void(0)"><small> What's issue severity? </small></a>
      </div>
    </form>
  </div>

  {% if result %}
    <div class="result">
      <h1>Severity: {{ result.result }}</h1>
      <h5>Accuracy: {{ result.accuracy }}%</h5>
      <form>
        <div class="agree-or-not">
          <legend>Do you agree with this classification?</legend>
          <br>
          <button class="btn" type="button" onclick="sendFeedback(true)">
            <img class="btn-yes" src="/static/yes.svg" />
          </button>
          <button class="btn" type="button" onclick="sendFeedback(false)">
            <img class="btn-no" src="/static/no.svg" />
          </button>
        </div>
        <div class="suggestion" style="display: none;">
          <legend>What is your suggestion?</legend>
          <div class="suggestion-div">
            <select id="choosed-severity" class="suggestion-chooser">
              <option value="blocker">Blocker</option>
              <option value="critical">Critical</option>
              <option value="enhancement">Enhancement</option>
              <option value="major">Major</option>
              <option value="minor">Minor</option>
              <option value="normal">Normal</option>
            </select>
            <button class="btn btn-suggestion" type="button" onclick="sendChoosedSeverity()">
              <img class="btn-yes" src="/static/send.svg" />
            </button>
          </div>
        </div>
      </form>
    </div>
  {% endif %}

{% endblock %}