:root {
 --backgroundColor: #8eb9f7; 
 --primaryColor: #a81615; 
 --secondaryColor: #fdf2f2; 
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,input,optgroup,select,textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}

button,html [type=button],[type=reset],[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

* {
  box-sizing: border-box
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.s003 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: poppins,sans-serif;
  background-color: var(--backgroundColor);
  background-size: cover;
  background-position: center center;
  padding: 15px;
  flex-direction: column;
}

.s003 form {
  width: 100%;
  max-width: 790px;
  margin-bottom: 0
}

.s003 form .inner-form {
  background: var(--secondaryColor);
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  border-radius: 3px
}

.s003 form .inner-form .input-field {
  height: 68px
}

.s003 form .inner-form .input-field input {
  height: 100%;
  background: 0 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: var(--primaryColor)
}

.s003 form .inner-form .input-field input.placeholder {
  color: var(--primaryColor);
  font-size: 16px
}

.s003 form .inner-form .input-field input:-moz-placeholder {
  color: var(--primaryColor);
  font-size: 16px
}

.s003 form .inner-form .input-field input::-webkit-input-placeholder {
  color: var(--primaryColor);
  font-size: 16px
}

.s003 form .inner-form .input-field input:hover,.s003 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
  border-color: var(--secondaryColor)
}

.s003 form .inner-form .input-field.first-wrap {
  width: 200px;
  border-right: 1px solid rgba(0,0,0,.1)
}

.s003 form .inner-form .input-field.first-wrap .choices__inner {
  background: 0 0;
  border-radius: 0;
  border: 0;
  height: 100%;
  color: var(--secondaryColor);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px
}

.s003 form .inner-form .input-field.third-wrap {
  min-width: 100px;
  display: flex;
}

.s003 form .inner-form .input-field.third-wrap .btn {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: var(--secondaryColor);
  border: 0;
  cursor: pointer;
  transition: all .2s ease-out,color .2s ease-out
}

.s003 form .inner-form .input-field.third-wrap .btn-search {
  background: var(--primaryColor);
}

.s003 form .inner-form .input-field.third-wrap .btn-search img {
  width: 23px;
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(171deg) brightness(107%) contrast(100%);
}

.s003 form .inner-form .input-field.third-wrap .btn-clear img,
.btn-no {
  filter: invert(17%) sepia(35%) saturate(5430%) hue-rotate(353deg) brightness(103%) contrast(92%);
}

.btn-yes {
  filter: invert(44%) sepia(55%) saturate(2540%) hue-rotate(89deg) brightness(92%) contrast(109%);
}

.s003 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: var(--primaryColor)
}

.s003 form .inner-form .input-field.third-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none
}

@media screen and (max-width: 992px) {
  .s003 form .inner-form .input-field {
      height:50px
  }
}

@media screen and (max-width: 767px) {
  .s003 form .inner-form {
      -ms-flex-wrap:wrap;
      flex-wrap: wrap;
      padding: 20px
  }

  .s003 form .inner-form .input-field {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(0,0,0,.1)
  }

  .s003 form .inner-form .input-field input {
      padding: 10px 15px
  }

  .s003 form .inner-form .input-field.first-wrap {
      width: 100%;
      border-right: 0
  }

  .s003 form .inner-form .input-field.third-wrap {
      margin-bottom: 0;
      width: 100%
  }
}

.result {
  margin-top: 25px;
  text-align: center;
  color: var(--primaryColor);
  background: #fdf2f2b5;
  width: 100%;
  max-width: 790px;
  border-radius: 5px;
}

.result h1 {
  margin-bottom: 0;
  font-weight: lighter;
}

.result h5 {
  margin-top: 5px;
  font-weight: lighter;
}

.btn-clear {
  background: var(--secondaryColor);
}

.agree-or-not,
.suggestion {
  margin: 15px 0;
}

.suggestion-chooser {
  margin: 10px 0 5px;
  width: 25%;
  padding: 7px 5px 4px;
  border: 1px solid var(--primaryColor);
}