<!DOCTYPE html>
<html>

<head>
  <title>Issue Severity</title>
  <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <script src="static/scripts.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- WORD CLOUD PLUGIN
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script> -->
</head>


<body>
  <div class="s003">
    {% block container %}{% endblock %}
  </div>
</body>